.contaier {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 77vw;
    margin-top: 20vh;
}

.icon {
    width: 32px;
    height: 32px;
}

.icons {
    display: flex;
    gap: 20px;
}

.desc {

    padding-top: 30px;
    flex: 1 0 0px;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Schibsted Grotesk", "Schibsted Grotesk Placeholder", sans-serif;
    color: #4a5759;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: center;
}